<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Recipe app{% endblock %}</title>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='favicon.svg') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  <script src="https://unpkg.com/htmx.org@2.0.3" defer></script>
  <script src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js" defer></script>
</head>
<body>
  <header class="container no-print">
    <nav>
      <ul>
        <li><strong><a href="/">Recipes</a></strong></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
